{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="row">
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header card-header-warning card-header-icon">
            <div class="card-icon">
              <i class="material-icons">books</i>
            </div>
            <p class="card-category">Avaliable <br/>Training Modules</p>
            <h3 class="card-title">{{book_count}}
              {% comment %} <small>GB</small> {% endcomment %}
            </h3>
          </div>
          <div class="card-footer">
            <div class="stats">
              {% comment %} <i class="material-icons text-danger">warning</i> {% endcomment %}
              {% comment %} <a href="#pablo">Get More Space...</a> {% endcomment %}
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header card-header-success card-header-icon">
            <div class="card-icon">
              <i class="material-icons">person</i>
            </div>
            <p class="card-category">Avaliable <br/>Mentors</p>
            <h3 class="card-title">{{mentor_count}}</h3>
          </div>
          <div class="card-footer">
            <div class="stats">
              {% comment %} <i class="material-icons">date_range</i> Last 24 Hours {% endcomment %}
            </div>
          </div>
        </div>
      </div> 
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header card-header-success card-header-icon">
            <div class="card-icon">
              <i class="material-icons">face</i>
            </div>
            <p class="card-category">Avaliable <br/>care_givers</p>
            <h3 class="card-title">{{care_count}}</h3>
          </div>
          <div class="card-footer">
            <div class="stats">
              {% comment %} <i class="material-icons">date_range</i> Last 24 Hours {% endcomment %}
            </div>
          </div>
        </div>
      </div> 
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header card-header-success card-header-icon">
            <div class="card-icon">
              <i class="material-icons">person</i>
            </div>
            <p class="card-category">Avaliable <br/>Mentors</p>
            <h3 class="card-title">{{mentor_count}}</h3>
          </div>
          <div class="card-footer">
            <div class="stats">
              {% comment %} <i class="material-icons">date_range</i> Last 24 Hours {% endcomment %}
            </div>
          </div>
        </div>
      </div> 
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header card-header-success card-header-icon">
            <div class="card-icon">
              <i class="material-icons">person</i>
            </div>
            <p class="card-category">Avaliable <br/>Mentors</p>
            <h3 class="card-title">{{mentor_count}}</h3>
          </div>
          <div class="card-footer">
            <div class="stats">
              {% comment %} <i class="material-icons">date_range</i> Last 24 Hours {% endcomment %}
            </div>
          </div>
        </div>
      </div> 
      
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

  <script>
    $(document).ready(function() {
      // Javascript method's body can be found in assets/js/demos.js
      md.initDashboardPageCharts();

    });
  </script>

{% endblock javascripts %}
